/* background dark*/
#bgDark{
  background-color : rgba(0, 0, 0, 0.7);
}

#number{
  width: 400px;
}

#bgImgCreate{
  background: url("../res/cat.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#bgImgLog{
  background: url("../res/paysage.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}


#createAcount{
  text-decoration: none;
}

#registerForm{
  width: 600px;
}

#loginForm{
  width: 600px;
}

#textCreate{
  font-size: 30px;
}

#locate{
  line-height: 5px;
  font-family: times;
  margin-top: -70px;
  width: 400px;
  margin-right: 20px;
}

#agenda,#objective{
  text-decoration: underline;
}

/*out agenda*/
#getAgenda{
  font-family: times;
  white-space: pre-wrap;
}

/*out objective*/
#getObjective{
  white-space: pre-wrap;
}

#meetingLeader, #broadMembers, #numberParticipants{
  font-family: times;
  font-weight: 100;
}

#meetingLeader{
  margin-left: 20px;
}
#broadMembers{
  margin-left: 10px;
}

#numberParticipants{
  margin-left: 30px;
}

#objectiveMeeting{
  text-align: justify;
  font-family: Times New Roman;
  font-size: 15px;
}

/*entête locale */
#place{
  margin-left: 100px;
}

#date{
  margin-left: 120px;
}

#timeStart{
  margin-left:30px ;
}

#timeEnd{
  margin-left: 42px;
}

/*entête locale en eng*/
#placeEng{
  margin-left: 115px;
}

#dateEng{
  margin-left: 119px;
}

#timeStartEng{
  margin-left:80px ;
}

#timeEndEng{
  margin-left: 84px;
}

/*entête locale en fr*/
#placefr{
  margin-left: 120px;
}

#datefr{
  margin-left: 119px;
}

#timeStartfr{
  margin-left:50px ;
}

#timeEndfr{
  margin-left: 68px;
}

/*valeur sécretariat*/
#getSecretariat{
  font-size: 14px;
  margin-left: 60px;
  margin-top: -38px;
}

#Copyrigth{
  font-size: 9px;
}

#header{
  text-align: right;
  width: 500px;
  margin-right: 10px;

}

#rapport {
  position: relative;
  z-index: 1;
}

footer a{
  text-decoration: none;
  color: white;
}

#eyeIcon{
  display: inline-block;
  margin-left: 187px;
  position: absolute;
  margin-top: -32px;
} 

#eyeIconCreate{
  display: inline-block;
  margin-left: 498px;
  position: absolute;
  margin-top: -32px;
}

#spinner{
  position: absolute;
  margin-left: -407px;
  margin-top: 10px;
}

#spinMg{
  margin-top: 9px;
  margin-left: 70px;
  color: white;
  width: 20px;
  height: 20px;
  position: absolute;
}




