#number{
  width: 400px;
}

#sign{
  writing-mode: vertical-rl;
  top: 150px;
  margin-left: 9px;
  position: absolute;
  }

.dropdown:hover .dropdown-menu{
  display: block;
}

#blurred-box{
  background:rgb(25, 135, 84);
}

#bgImgCreate{
  background: url("../res/cat.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  height: 100vh;
}

#bgImgLog{
  background: url("../res/paysage.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  height: 205vh;
}

#bgDark{
  background-color: rgba(0, 0, 0, 0.5); /* mainty mangarahara */
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left:0;
}

#bgImgLogin{
  background: url("../res/paysage.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  height: 100vh;
}

#bgDarkLogin{
  background-color: rgba(0, 0, 0, 0.5); /* mainty mangarahara */
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left:0;
}

.blurred-box{
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  padding: 20px;
  border-radius: 10px;    
  color: white;
}

.blurred-box:hover{
  box-shadow: 2px 2px 10px 2px white;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  padding: 20px;
  border-radius: 10px;    
  color: white;
}

#createAcount{
  text-decoration: none;
}

#registerForm{
  width: 600px;
}

#loginForm{
  background : url('https://cdn.pixabay.com/photo/2015/10/27/08/51/autumn-1008520_1280.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 500px;
}

#textCreate{
  font-size: 30px;
}

#locate{
  line-height: 5px;
  font-family: times;
  margin-top: -70px;
  width: 400px;
  margin-right: 20px;
}

#agenda,#objective{
  text-decoration: underline;
}

/*out agenda*/
#getAgenda{
  font-family: times;
  white-space: pre-wrap;
}

/*out objective*/
#getObjective{
  white-space: pre-wrap;
}

#meetingLeader, #broadMembers, #numberParticipants{
  font-family: times;
  font-weight: 100;
}

#meetingLeader{
  margin-left: 20px;
}
#broadMembers{
  margin-left: 10px;
}

#numberParticipants{
  margin-left: 30px;
}

#objectiveMeeting{
  text-align: justify;
  font-family: Times New Roman;
  font-size: 15px;
}

/*entête locale */
#place{
  margin-left: 100px;
}

#date{
  margin-left: 120px;
}

#timeStart{
  margin-left:30px ;
}

#timeEnd{
  margin-left: 42px;
}

/*entête locale en eng*/
#placeEng{
  margin-left: 115px;
}

#dateEng{
  margin-left: 119px;
}

#timeStartEng{
  margin-left:80px ;
}

#timeEndEng{
  margin-left: 84px;
}

/*entête locale en fr*/
#placefr{
  margin-left: 120px;
}

#datefr{
  margin-left: 119px;
}

#timeStartfr{
  margin-left:50px ;
}

#timeEndfr{
  margin-left: 68px;
}

/*valeur sécretariat*/
#getSecretariat{
  font-size: 14px;
  margin-left: 60px;
  margin-top: -38px;
}

#Copyrigth{
  font-size: 9px;
}

#header{
  text-align: right;
  width: 500px;
  margin-right: 10px;

}

#rapport {
  position: relative;
  z-index: 1;
}

footer a{
  text-decoration: none;
  color: white;
}

footer:hover a{
  color: blue;
  text-shadow: 1px 1px 1px white;
}

#eyeIcon{
  display: inline-block;
  margin-left: 187px;
  position: absolute;
  margin-top: -32px;
} 

#eyeIconCreate{
  display: inline-block;
  margin-left: 498px;
  position: absolute;
  margin-top: -32px;
}

#spinner{
  position: absolute;
  margin-left: -407px;
  margin-top: 10px;
}

#spinMg{
  margin-top: 9px;
  margin-left: 70px;
  color: white;
  width: 20px;
  height: 20px;
  position: absolute;
}

/* progress bar button */
 .btn-progress {
  position: relative;
  overflow: hidden;
  color: white;
  width: 100%;
}

.btn-progress .progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3); /* transparency */
  z-index: 0;
  transition: width 0.3s ease;
}

.btn-progress span {
  position: relative;
  z-index: 1;
}


/* media queries */
@media(min-width: 280px) and (max-width: 768px){
  #bgImgLog{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    width: 100%;
    height: 278vh;
  }

  #blurred-box{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;    
    color: white;
  }

  #bgDark{
    background-color: rgba(0, 0, 0, 0.5); /* mainty mangarahara */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
  }

  #submit{
    width: 100%;
  }

  #create{
    width: 100%;
  }

  #spinner{
    position: absolute;
    margin-left: -250px;
    margin-top: 10px;
  }
}

@media(max-width: 768px){
  #bgImgLogin{
    background: url("../res/flower.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  #sign{
    writing-mode: horizontal-tb;
    position: absolute;
    margin-top: 320px;
    font-size: 13px;
  }

  #bgImgCreate{
    background: url("../res/baby.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

}

@media(max-width: 357px){
  #textCreate{
    font-size: 19px;
  }
  #registerForm p{
    font-size: 10px;
  }
}
